.new-collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}

.new-collection h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.new-collection hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.collection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}




@media(max-width:1280px) {
    .new-collection {
        /* height: 70vh; */
    }

    .new-collection h1 {
        font-size: 40px;
    }

    .new-collection hr {

        height: 4px;
        width: 160px;
    }

    .collection {
        gap: 20px;
        margin-top: 30px;
    }
}
@media(max-width:1024px) {
    .new-collection {
        /* height: 60vh; */
    }

    .new-collection h1 {
        font-size: 30px;
    }

    .new-collection hr {

        height: 3px;
        width: 120px;
    }

    .collection {
        gap: 15px;
        margin-top: 20px;
    }
}
@media(max-width:800px) {
    .new-collection {
        /* height: 50vh; */
        gap: 6px;
    }

    .new-collection h1 {
        font-size: 20px;
    }

    .new-collection hr {
        width: 100px;
    }

    .collection {
        gap: 5px;
       
    }
}
@media(max-width:500px) {
    .new-collection {
        /* height: 90vh; */
        gap: 6px;
    }
 .collection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
 }
 
}